/*----customproperties -----*/

:root {
  --primary: white;
  --background: #fcf2e8;
  --txt-color: #000000;
  --font-family: "sans";
}

/*---utilityclasses ---*/

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.flex-center {
  align-content: center;
}

/*----------h(n)---------*/

h1 {
  font-size: calc(0.5rem + 5vw);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: min(calc(0.5rem + 2vw), 1rem);
}
h3 {
  font-size: large;
  margin-top: 0.5rem;
}

h4 {
  color: #8c8c8c;
}

p {
  font-size: small;
  color: #8c8c8c;
}

/*-------elements ----*/

body {
  font-family: sans-serif;

  height: max(100vh, auto);
  background-color: var(--background);
}

/*------------header ------*/

header {
  padding: 0.5rem 1rem;

  position: relative;
}

.title {
  margin: auto;
  margin-left: 1rem;
}
.logo {
  height: calc(5rem + 5vw);
  margin-block: auto;
}

header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 10%;

  border-bottom: 1px solid rgb(113, 113, 113);
}

/*-----------main content -----------*/

.books-grid {
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

/*--------book cards ----------*/

.book-card {
  position: relative;
  background-color: var(--primary);
  border: 1px solid rgb(167, 167, 167);

  grid-template-rows: 1fr 3rem;
  grid-template-columns: subgrid;
}

.read:before {
  content: url(icons/read.svg);
  height: 70%;
  aspect-ratio: 1;
  position: absolute;
  top: 0.5em;
  left: 0.5rem;
  z-index: 1;
}

.book-card > * {
  z-index: 2;
}

button:hover {
  cursor: pointer;
}

.icon {
  height: 70%;
  aspect-ratio: 1;
}

.card-top {
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 1rem;
}
.card-top > * {
  flex: 1;
  text-align: center;
}

.card-buttons {
  flex-direction: row-reverse;
}

.card-buttons button {
  padding: 0;
  aspect-ratio: 1;
  background-color: var(--primary);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-buttons :hover {
  background-color: #efefef;
}

/* ------for the blank one -----------*/

.book-card label {
  height: 2rem;
  aspect-ratio: 1;
}

input[type="text"],
input[type="number"] {
  text-align: center;
  border: none;
  border-bottom: 1px solid #dcdcdc;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="text"]:focus,
input[type="number"]:focus {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  outline: none;
  text-align: left;
}

input:hover::placeholder,
input:focus::placeholder {
  color: transparent;
}

.add-button {
  background-color: var(--primary);
  border: none;
}

.add-button:hover {
  background-color: #efefef;
}

/*------------*/
